.alp-login {
        background: url('./images/Background.svg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        height: 100vh;
}